---
import '../styles/global.css';

const pageTitle = "archiv";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div class="div1">
		
		<a href="/">kantione</a>&nbsp;
		<a href="/konzerte/">konzerte</a>&nbsp;
		<a href="/archiv/">archiv</a>
		
		<br />
		
		<h1>{pageTitle}</h1>
		<b>kantione</b> brings together a pool of versatile musicians to play classical music from many eras in a contemporary way
      	<br /><br />
	the first three concerts took place in the autumn and winter of 2024
	<br /><br />
	the musicians played a wide range of music including new interpretations of Baroque composers such as Marais and Ortiz, a fresh look at Eric Satie inspired by Philip Corner as well as self-composed songs drawing from jazz, folk and new music
	<br /><br />
	<b>Friday 25 October 2024</b><br />
	<i>Baroque Music – Abstracted</i>
	<br /><br />
	<i>Les Voix Humaines von Marin Marais</i><br />
	Hayden Chisholm – alto sax, pūtōrino, shruti box, voice<br>
	Susanne Szambelan – cello
	<br /><br />
	Les Voix Humaines is an instrumental piece composed by Marin Marais in 1701 and is considered the best-known work from his second book for viola da gamba. The renowned gambist and composer significantly expanded the repertoire of this instrument under Louis XIV. Hayden Chisholm and Susanne Szambelan present a new interpretation with alto saxophone and cello, featuing improvisation and a shrutibox.
	<br /><br />
	<i>Wabi Sabi à la Ortiz</i><br />
	Hilary Jeffery – trombone, trumpet<br />
	Martin Heinze – double bass
	<br /><br />
	This piece is an open structure, created on the basis of a recercada - an instrumental piece that originally served as a free improvisational prelude for playing and tuning instruments. The piece comes from the famous ornamental and viola da gamba school ‘Trattado de Glosas’ (1553) by Diego Ortiz, where musical themes are played from different angles, inspired by the Japanese concept of wabi sabi (intuitive, present, rough, relative, imperfect). The piece moves from a very abstract to an almost classical rendition of the main theme.
	<br /><br />
	<i>Marais Kyrie + Dowland Flow My Tears</i>
	<br /><br />
	Hayden Chisholm – alto sax<br />
	Martin Heinze – double bass<br />
	Hilary Jeffery – trombone<br />
	Susanne Szambelan – cello
	<br /><br />
	<b>Friday 8 November 2024</b><br />
	<i>Satie Slowly - after Philip Corner</i>
	<br /><br />
	Antonis Anissegos – piano
	<br /><br />
	The evening is dedicated to one of the most original composers of the last century and an equally original interpreter of his music: Erik Satie and Philip Corner. We leave the motorway and travel by bike on the country road instead - a route that promises different scents and sounds.
	<br /><br />
	<q>If his piano pieces are so easy, why are they so badly played? What they have—this must not be violated—is an objectivity all the more solid for being so fragile...they resist all <q>added expressivity</q> they make those who indulge sound ridiculous. Yet nothing is lacking in them.</q> (Philip Corner)
	<br /><br />
	<b>Friday 13 December 2024</b><br />
	<i>The Essence of North: Pure</i>
	<br /><br />
	Gerdur Gunnarsdóttir – violin, viola, voice<br />
	Claudio Puntin – clarinets
	<br /><br />
	Claudio Puntin and Gerdur Gunnarsdóttir create poetic miniatures combining melodic clarity, complex structures and sonic expansiveness. Inspired by the lights and atmosphere of the north, they create music that captures silence and warmth while leaving room for improvisational elements.
	<br /><br /><br /><br />
	</body>
</html>
