---
import '../styles/global.css';

const pageTitle = "kantione";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	
	<body>
		<div class="div1">
		
		<a href="/">kantione</a>&nbsp;
		<a href="/konzerte/">konzerte</a>&nbsp;
		<a href="/archiv/">archiv</a>
		
		<br />
		
		<h1>{pageTitle}</h1>
		a new concert series curated and organised by <b>Eleni Poulou</b>
        <br /><br />
        <b>kantione</b> was launched in 2024 to present new forms of classical music at <b>Haus am Waldsee</b> in Berlin-Zehlendorf
        <br /><br />
        each concert features new combinations of artists, premiering their work in an intimate setting
        <br /><br />
        most of the musicians have already made music together from classical to jazz, improvised to folk, as well being experienced performers of experimental music in an art context with artists such as CC Hennix, Rebecca Horn, Anselm Kiefer and Anri Sala
        <br /><br />
        they can usually heard on big stages such as the Berlin Philharmonic, Konzerthaus, at jazz clubs and international festivals, seldom can their art be enjoyed close up in this way
         <br /><br />
         as proven in the first series in 2024, this form of concert appeals to a wide and diverse public, presented in a contemporary art context
         <br /><br />
         thanks to the generous support of the friends and patrons of Haus am Waldsee, the series continues in 2025, beginning on 21 August
         <br /><br />
         <a href="https://hausamwaldsee.de/freunde-und-foerderer/" target="_blank" rel="noopener noreferrer">hausamwaldsee.de/freunde-und-foerderer/</a>
         <br /><br />
         <b>Haus am Waldsee</b><br />
	 Argentinische Allee 30<br />
         14163 Berlin-Zehlendorf
         <br /><br />
         Bus<br />
	 118  Rathaus Zehlendorf<br />
	 622 / X11 Krumme Lanke
	 <br /><br />
	 Bahn<br />
	 U3 Krumme Lanke<br />
	 S1 Mexikoplatz
	 <br /><br />
	 <a href="https://hausamwaldsee.de/" target="_blank" rel="noopener noreferrer">hausamwaldsee.de</a>
	<br /><br />
	</div>
	</body>
</html>
